---
import Layout from "../layouts/Layout.astro";
import HeroHeader from "../components/HeroHeader.astro";
import Navbar from "../components/Navbar.tsx";
import Parallax from "../components/Parallax";
import ParallaxedHeader from "../components/ParallaxedHeader";
import Heading2 from "../components/Heading2";
import contents from "./contents.json";
import { Image } from "astro:assets";
import miku1 from "../images/miku1.png";
import BrandIcons from "../components/BrandIcons.astro";
import Card from "../components/Card.astro";
---

<Layout title={contents.title}>
  <main>
    <div class="fixed top-0 left-0 right-0 z-20">
      <Navbar client:load />
    </div>
    <ParallaxedHeader
      text={contents.header.text}
      description={contents.header.description}
      client:load
    >
      <Image src={miku1} alt="Miku" />
    </ParallaxedHeader>
    <div class="bg-base-100 relative min-h-screen">
      <div class="py-10 px-3 sm:mx-auto sm:max-w-screen-md sm:w-4/5">
        <Heading2 client:load>About</Heading2>
        <div class="mx-3 sm:mx-6">
          {
            contents.about.contents.map((content) => (
              <Card content={content} />
            ))
          }
        </div>
      </div>
    </div>
  </main>
</Layout>
