---
import CheckFeature from "@components/libs/CheckFeature";
import Navbar from "@components/libs/Navbar";
import ParallaxedHeader from "@components/libs/ParallaxedHeader.astro";
import ParallaxedHeaderLegacy from "@components/libs/ParallaxedHeaderLegacy";
import Heading2 from "@components/libs/Heading2.astro";
import Heading2Legacy from "@components/libs/Heading2Legacy";
import contents from "./_contents.json";
import { Image } from "astro:assets";
import miku1 from "@images/miku1.png";
import Card from "@components/libs/Card.astro";

interface Props {
  isLegacy?: boolean;
}

const { isLegacy = true } = Astro.props;
---

<main>
  {isLegacy ? null : <CheckFeature client:load />}
  <div class="fixed top-0 left-0 right-0 z-20">
    <Navbar client:load />
  </div>
  {
    isLegacy ? (
      <ParallaxedHeaderLegacy
        text={contents.header.text}
        description={contents.header.description}
        client:load
      >
        <Image src={miku1} alt="Miku" />
      </ParallaxedHeaderLegacy>
    ) : (
      <ParallaxedHeader
        text={contents.header.text}
        description={contents.header.description}
      />
    )
  }
  <div class="bg-base-100 relative min-h-screen">
    <div class="py-10 px-3 sm:mx-auto sm:max-w-screen-md sm:w-4/5">
      {
        isLegacy ? (
          <Heading2Legacy client:load>About</Heading2Legacy>
        ) : (
          <Heading2>About</Heading2>
        )
      }
      <div class="mx-3 sm:mx-6">
        {contents.about.contents.map((content) => <Card content={content} />)}
      </div>
    </div>
  </div>
</main>;
