---
import {
  TbPointFilled,
  TbVectorTriangle,
  TbLetterE,
  TbExposureMinus1,
  TbRepeat,
  TbPlus,
  TbNumber0,
  TbMinus,
  TbArrowsSplit,
  TbNumber1,
} from "react-icons/tb";
import Model from "./Model.astro";
import Group from "./Group.astro";
import BinaryOperation from "./BinaryOperation.astro";
import InlineKatex from "@components/libs/InlineKatex";
import type { IconType } from "node_modules/react-icons/lib/iconBase";
import AbelGroup from "./AbelGroup.astro";

interface Props {
  className?: string;
  symbol: string;
  open?: boolean;
  title?: string;
}

const {
  className = "",
  symbol,
  open,
  title = "環 (Ring)",
} = Astro.props;
---

<Model title={title} symbol={symbol} open={open} className={className}>
  <Fragment slot="header">
    <div class="tooltip" data-tip="加算">
      <TbPlus />
    </div>
    <div class="tooltip" data-tip="結合法則">
      <TbVectorTriangle />
    </div>
    <div class="tooltip" data-tip="単位元">
      <TbNumber0 />
    </div>
    <div class="tooltip" data-tip="逆元">
      <TbMinus />
    </div>
    <div class="tooltip" data-tip="交換法則">
      <TbRepeat />
    </div>
    <div class="divider divider-horizontal m-0"></div>
    <div class="tooltip" data-tip="乗算">
      <TbPointFilled />
    </div>
    <div class="tooltip" data-tip="結合法則">
      <TbVectorTriangle />
    </div>
    <div class="tooltip" data-tip="分配法則">
      <TbArrowsSplit />
    </div>
    <div class="tooltip" data-tip="単位元">
      <TbNumber1 />
    </div>
  </Fragment>
  <div class="flex gap-4 items-start flex-wrap">
    <AbelGroup
      symbol={symbol}
      binSymbol="+"
      className="bg-maroon lg:flex-1"
      BinIcon={TbPlus}
      title="加法群 (Additive Group)"
    />
    <BinaryOperation symbol="\\cdot" className="bg-peach lg:flex-1">
      <InlineKatex math="R \\times R \\to R" slot="header" />
      <p class="flex items-center gap-2">
        <TbVectorTriangle /> 結合法則
      </p>
      <p class="flex items-center gap-2">
        <TbArrowsSplit /> 分配法則
      </p>
      <p class="flex items-center gap-2">
        <TbNumber1 /> 単位元
      </p>
    </BinaryOperation>
  </div>
</Model>
